<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody();
    </div>

    @RenderSection("Scripts", false);
</body>
</html>
